*{
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}
body{
    background-color: #3d64;
    margin-top: 30px;
}
/* .container2{
    background-color: #ffffff;
    width: 80vw;
    max-width: 37.5em;
    padding: 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5.5%;
    left: 79%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.search{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}
.search button{
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}
.search input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222;
} */
.card{
    background-color:antiquewhite;
}


.container a:hover {
    background-color: crimson;
    color: black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body{
    padding: 20px;
}